body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 1rem;
}
.alt-color {
  color: red;
}
.line-break {
  height: 0.5em;
}
.section-break {
  height: 1.5em;
}
.option {
  border-left: 0.0625em solid black;
  padding-left: 0.5em;
}
.option-number {
  margin-inline: 0.125em;
  text-align: end;
  width: 4ch;
}
.hidden {
  display: none;
}
